<script>
    $(document).ready(function () {
        {% if site.google_scholar_stats_use_cdn %}
        var gsDataBaseUrl = 'https://cdn.jsdelivr.net/gh/{{ site.repository }}@';
        {% else %}
        var gsDataBaseUrl = 'https://raw.githubusercontent.com/{{ site.repository }}/';
        {% endif %}

        $.getJSON(gsDataBaseUrl + 'google-scholar-stats/gs_data.json')
            .done(function (data) {
                var totalCitationEle = document.getElementById('total_cit');
                if (totalCitationEle && typeof data.citedby !== 'undefined') {
                    totalCitationEle.innerHTML = data.citedby;
                }

                var citationEles = document.getElementsByClassName('show_paper_citations');
                Array.prototype.forEach.call(citationEles, function (element) {
                    var paperId = element.getAttribute('data');
                    var publication = data.publications && data.publications[paperId];

                    if (!publication || typeof publication.num_citations === 'undefined') {
                        return;
                    }

                    element.innerHTML = '| Citations: ' + publication.num_citations;
                });
            })
            .fail(function () {
                console.warn('Google Scholar stats could not be loaded from', gsDataBaseUrl);
            });
    });
</script>
